{{ attach_library('commerce_payment_cetelem/commerce_payment_cetelem') }}
<div{{ attributes }}>
  <div class="calculadoraCetelemWrapper">
    <div class="logo-cetelem">
      <img src=/modules/custom/commerce_payment_cetelem/img/cetelem-logo.png width="150" height="55" alt="Cetelem" />
    </div>
    <div id="eCalculadoraCetelemDiv"></div>
  </div>
  <script src="/modules/custom/commerce_payment_cetelem/js/cetelemjs.js"></script>
</div>
